# Virtual environments
myvenv/
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Data (never push datasets)
data/


# ML artifacts (never push models)
artifacts/

# MLflow experiment logs (optional)
mlruns/

# OS / editor specific
.DS_Store
.vscode/
.idea/

# Logs
logs/

credentials/
.env

models/
/data
