version: "3.9"

services:
  backend:
    image: sahil4818/aichettextguard-backend:latest
    container_name: Ai-Text-Guard-backend
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  ui:
    image: sahil4818/aichettextguard-ui:latest
    container_name: Ai-Text-Guard-ui
    ports:
      - "8501:8501"
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: redis-container
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
